<div class="app-modal-container">
    <div class="container">         
        <div class="snapshot-breakdown-line text-center"><h4 class="total-left-headers">Date range and Expenses</h4></div>
        <p class="tags mb-4 text-center">Select date range for Plan and choose Expenses to be included</p>           
            <div class="set-date-inset plan-breakdown-box ">
                <div class="row no-gutters h-100">                                       
                    <div class="col-sm-12">  
                      <mat-checkbox [disabled]="ifWeekend" class="mb-4" name="excludeWeekends" [(ngModel)]='excludeWeekends'>Exclude Weekends ? </mat-checkbox>                         
                        <p *ngIf="ifWeekend" class="accent-this">Today is a weekend</p>
                      <form [formGroup]="rFormSet" (ngSubmit)="onSubmit()">
                              <mat-form-field>
                                <mat-label>End Date</mat-label>
                                <input class="mb-4" matInput [min]="minDate" [matDatepicker]="pickerEnd" formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                <mat-datepicker #pickerEnd></mat-datepicker>
                              </mat-form-field>
                            <h5 class="tags mb-3 text-center">Select payments</h5>
                            <div class="payments-select-container mb-4">
                                <mat-card id="list" (click)="selectPayment(paymentWritable)" *ngFor= "let paymentWritable of paymentsWritable" [ngClass]="{'active-plan': paymentWritable.active == true}" class="plan-card-slim mb-3">
                                    <div class="container">
                                      <div class="row plan-card-slim-row h-100">
                                        <div class="col-sm text-center">
                                          <p [ngClass]="{'accent-this': paymentWritable.active == false}">{{paymentWritable.name}}</p>
                                        </div>
                                      </div>
                                    </div>
                                  </mat-card>
                            </div>                                                              
                            <div class="app-modal-footer">                                                   
                                <button type="submit" [disabled]="!rFormSet.valid" class="modal-button" mat-button color="accent">Continue</button> 
                            </div>   
                        </form>                                       
                    </div>                   
                </div>                     
            </div>
        </div>   
    </div>
    
    


    


