<div class="app-modal-head">
    <h4>Plan Details</h4>
</div>
<div class="app-modal-container">
    <div class="container">
        <div class="row">
            <div class="col input-left-panel">            
                <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">                                                    
                    <div class="full-width mb-4">
                        <input class="app-input-field" placeholder="Plan Name" formControlName="name" type="text">                       
                        
                        <div class="alert-container">
                            <div class="form-alert " *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{fieldAlert}}</div>
                        </div>
                    </div>     
                                                        
                    <div class="full-width mb-4">
                        <input class="app-input-field" placeholder="Money In" type="number" formControlName="moneyIn">
                        <div class="alert-container">
                            <div class="form-alert" *ngIf="!rForm.controls['moneyIn'].valid && rForm.controls['moneyIn'].touched">{{fieldAlert}} and be greater than 1</div> 
                        </div>
                    </div>  
                        
                    <div class="full-width mb-4">
                        <input disabled="true" class="app-input-field" placeholder="Expenses" type="number" formControlName="expenses">
                    </div>     
                                                                            
                    <div class="full-width mb-4">
                        <input class="app-input-field" placeholder="Saving" type="number" formControlName="saving">
                    </div>      
                    <div class="app-modal-footer mb-4">
                        <button type="submit" [disabled]="!rForm.valid" class="modal-button" mat-button color="accent">Set Plan</button>   
                    </div>                                                
                </form>                           
            </div>
        </div>  
    </div> 
</div>
