<div class="app-modal add-cost-modal pt-2">
    <div class="app-modal-head">
        <h4>Add Payment</h4>
    </div>
    <div class="app-modal-container">
        <div class="container">
            <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
                <div class="row">           
                    <div class="col-sm-12 mb-2">
                        <input formControlName="name" class="app-input-field mb-2" placeholder="Payment Name"> 
                    </div>
                    <div class="form-alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{fieldAlert}}</div>
                                       
                    <div class="col-sm-12 mb-2">
                        <input formControlName="amount"  class="app-input-field mb-2" type="number" placeholder="Payment Amount"> 
                    </div>
                    <div class="form-alert" *ngIf="!rForm.controls['amount'].valid && rForm.controls['amount'].touched">{{fieldAlert}}</div>
                            
                    <div class="col-sm-12 mb-2">
                        <input formControlName="due" class="app-input-field mb-2" type="number" placeholder="Payment Due on which date"> 
                    </div>
                    <div class="form-alert" *ngIf="!rForm.controls['due'].valid && rForm.controls['due'].touched">{{fieldAlert}}</div>                                                  
                    
                    <div class="col-sm-12 pl-4 mb-2">
                        <mat-checkbox matInput formControlName="adhoc" >Adhoc Payment ?</mat-checkbox>
                    </div>        
                </div>
                <div class="app-modal-footer">
                    <button type="submit" [disabled]="!rForm.valid" class="modal-button" mat-button color="accent">Add</button> 
                    <button class="modal-button" type="cancel" mat-button color="warn">Cancel</button>  
                </div>   
            </form>
        </div>      
    </div>

</div>