<div class="app-modal add-cost-modal pt-2">
    <div class="app-modal-head">
        <h4>Add Payment</h4>
    </div>
    <div class="app-modal-container">
        <div class="container">
            <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
                <div class="row">           
                    <div class="col-sm-12 mb-4">
                        <input formControlName="name" class="app-input-field mb-2" placeholder="Payment Name"> 
                        <div class="alert-container">
                            <div class="form-alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{fieldAlert}}</div>
                        </div>              
                    </div>
                   
                    <div class="col-sm-12 mb-4">
                        <input formControlName="amount"  class="app-input-field mb-2" type="number" placeholder="Payment Amount"> 
                        <div class="alert-container">
                            <div class="form-alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{fieldAlert}}</div>
                        </div> 
                    </div>
                                             
                    <div class="col-sm-12 mb-4">
                        <input formControlName="due" class="app-input-field mb-2" type="number" placeholder="Payment Due on which date"> 
                        <div class="alert-container">
                            <div class="form-alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{fieldAlert}}</div>
                        </div> 
                    </div>
                    

                </div>
                <div class="app-modal-footer">
                    <button type="submit" [disabled]="!rForm.valid" class="modal-button" mat-button color="accent">Add</button> 
                    <button class="modal-button" type="cancel" mat-button color="warn">Cancel</button>  
                </div>   
            </form>
        </div>      
    </div>

</div>