<div class="control-panel-container">  
  <!--this will be ngFor passing in the id on click to fetch that particular plan-->
  <!-- <mat-card *ngFor= "let plan of plans" (click)="focusPlan(plan.id)" class="payload-card">
    <mat-card-title-group>
      <span></span>
      <span class="fill-remaining-space"></span>
      <a></a>
    </mat-card-title-group>
  </mat-card> -->

  <mat-card *ngFor= "let plan of plans" (click)="this.getPlan(plan)" class="plan-card">
    <div class="container">
      <div class="row plan-card-row h-100">
        <div class="col-sm">
          <p>{{plan.payload.doc.data().name}}</p>
        </div>
        <div class="col-sm">
          <p>Center info</p>
        </div>
        <div class="col-sm text-right" (click)="deletePlan(plan);$event.stopPropagation()">
          <p><i class="material-icons">delete</i></p>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- <h1>{{this.plan.doc.data().name}}</h1> -->





  <mat-card class="payload-card-new" (click)="openConfirmDialog()">
    <i class="material-icons">add_circle</i>     
  </mat-card>




</div>







