<div class="app-modal add-cost-modal">
    <div class="app-modal-head">
        <h4 class="text-center">Add a Cost</h4>
    </div>
    <div class="app-modal-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <input name="cost" [(ngModel)]="cost" class="app-input-field mb-2" type="number"> 
                </div>
                <div class="col-sm-12  m-b-1" align="center">
                    <h4 class="tags">For <span class="accent-this">{{this.selectedCategory}}</span></h4>
                </div>
                <div class="col-sm-12 cost-category-icons mb-2">
                    <div class="category-buttons" align="center">
                        <button *ngFor="let costCategory of costCategories" [disableRipple]="true" [ngClass]="{'active': costCategory.active}" (click)="activateClass(costCategory.category,costCategory)" mat-button color="accent" class="modal-button m-1"><i class="material-icons">{{costCategory.icon}}</i></button> 
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="app-modal-footer">
        <button (click)="addCost()" [disabled]="this.selectedCategory == '' || this.cost == undefined " class="modal-button" type="submit" mat-button color="accent">Add</button> 
        <button class="modal-button" mat-dialog-close type="cancel" mat-button color="warn">Cancel</button>  
    </div>   
</div>