<!-- 
<mat-card class="plan-card-active plan-card ">
    <div class="container">
        <p>Your upcoming <span class="accent-this">payments </span></p> 
        <h2 class="total-left-headers mb-10"><span class="accent-this">5</span> payments totalling <span class="warn-this">£ {{paymentsTotal}}</span></h2>
                
        <div class="add-payment-button-container mt-4 mb-4">
            <button (click)="addPayment()" class="card-button payments" mat-button [disableRipple]="true"><i class="material-icons">add_circle_outline</i> </button>          
        </div>
         
        <div class="inset-box payments-list-box">
            <div class="row no-gutters w-100 h-100">         
                <div class="col mr-2">
                    <h5 class="tags text-center mb-2">Name</h5>
                    <ul class="payments-list">
                        <li *ngFor="let payment of payments" class="text-center mb-3">{{payment.payload.doc.data().name}}</li>
                    </ul>       
                </div>
                <div class="col mr-2">
                    <h5 class="tags text-center mb-2">Due</h5>
                    <ul class="payments-list">
                        <li *ngFor="let payment of payments" class="text-center mb-3">{{payment.payload.doc.data().due}} <sup>{{payment.payload.doc.data().due | dateSuffix}}</sup></li>
                    </ul>  
                </div>
                <div class="col mr-2">
                    <h5 class="tags text-center mb-2">Cost</h5>  
                    <ul class="payments-list">
                        <li *ngFor="let payment of payments" class="text-center mb-3">{{payment.payload.doc.data().amount}}</li>
                    </ul>              
                </div> 
                <div class="col mr-2">
                    <h5 class="tags text-center mb-2">Delete</h5>  
                    <ul class="payments-list delete-col">
                        <li *ngFor="let payment of payments"   class="text-center material-icons mb-3">
                            <div (click)="deletePayment(payment)" ><span>delete</span></div>
                        </li>
                    </ul>              
                </div>                      
            </div>
        </div>
    </div>
</mat-card>
 -->


<div id="container" [@listAnimation]="payments.length">
 
    <h3 class="tags mt-3 mb-3">Your current Payments</h3>
    <mat-card id="list" *ngFor= "let payment of payments" class="plan-card-slim mb-3">
      <div class="container">
        <div class="row plan-card-slim-row h-100">
          <div class="col-sm">
            <p class="accent-this">{{payment.payload.doc.data().name}} <span class="warn-this">{{payment.payload.doc.data().amount}}</span></p>
          </div>
          <div class="col-sm">
            <p class="tags">{{payment.payload.doc.data().due}}<sup>{{payment.payload.doc.data().due | dateSuffix}}</sup></p>
          </div>
          <div class="col-sm text-right" (click)="deletePayment(payment);$event.stopPropagation()">
            <p><i class="material-icons">delete</i></p>
          </div>
        </div>
      </div>
    </mat-card>
  
   
    <mat-card class="plan-card-slim-new" (click)="addPayment()">
      <i class="material-icons">add_circle</i>     
    </mat-card>
  </div>

