.payments-list{
    list-style-type: none;
    margin-left:0;
    padding:0;
    li {
        margin-left:0;
    }
}


.delete-col {
    li {
        display: block;
    }
}
.payments-list-box {
    display: flex;
    justify-content: center;
}