<p>payments works!</p>

<mat-card class="plan-card-active plan-card ">
    <div class="container">
        <p>Your upcoming <span class="accent-this">payments </span></p> 
        <h2 class="total-left-headers mb-10"><span class="accent-this">5</span> payments totalling <span class="warn-this">500</span></h2>
        
        
        <div class="add-payment-button-container mt-4 mb-4">
            <button (click)="addPayment()" class="card-button payments" mat-button [disableRipple]="true"><i class="material-icons">add_circle_outline</i> </button>          
        </div>


          
        <div class="inset-box remainder-box">
            <div class="row no-gutters h-100">
                <div class="col">
                    <p class="tags">What</p>
                    <h3>Test</h3>
                </div>
                <div class="col">
                    <p class="tags">When</p>
                    <h3>Test</h3>
                </div>
                <div class="col">
                    <p class="tags">How Much</p>
                    <h3>Test</h3>
                </div>
                
            </div>
        </div>



    </div>
</mat-card>

