@import '../../theme.scss';
@import '~@angular/material/theming';
$card-elements-spacing:15px;

.plan-card-active {
    

    .total-left-headers{
        display: inline;
    }
    .card-button-cost{
        float: right ;
        border-radius: 15px !important;
        box-shadow: -5px -5px 15px #353535, 5px 5px 15px #1E1E1E !important;
        transition: 0.4s all ease-in-out;
        

        i {
            color:mat-color($my-theme-accent) !important;
            font-size: 30px !important;
        }
        
    }
    .card-button-cost:hover {
        box-shadow: inset -5px -5px 25px #171717, inset 5px 5px 5px  #363636;
        transform: translateY(1px) scale(0.99);
    }
    .card-button-cost:focus{
        outline:0 !important;
    }

    .progress-bar{
        margin-top:$card-elements-spacing;
        margin-bottom:$card-elements-spacing;
        background: #303030;
        height: 15px;
        border-radius: 15px;
        box-shadow: inset -4px -4px 10px #1F1F1F, inset 1px 4px 4px #1F1F1F;

        .plan-progress{
            background-color:mat-color($my-theme-accent);
            height: 100%;
            border-radius: 15px;
        }

    }

    .remainder-box {
        border-radius:15px !important;
        box-shadow: inset 1px -1px 10px #1F1F1F, inset 1px 1px 10px #1F1F1F;
        height:200px;
        padding:6px;
        padding-top:15px;

        .tags {
            color:$my-theme-grey-text;
            margin-bottom:0px;
        }

        .col {
            padding-left:15px;
        }
       
        
    }

}