@import '../../theme.scss';
@import '~@angular/material/theming';



.travel-color {
    color:#42a5f5 !important;
}
.entertainment-color {
    color:#ff77a9 !important;

}
.food-drink-color{
    color:#fbc02d !important;
}
.technology-color {
    color:#ef5350 !important;
}

.bills-color{
    color:#80e27e !important;
}

.cash-color{
    color:#9575cd !important;

}






