@import './theme.scss';
@import '~@angular/material/theming';


$card-elements-spacing:15px;

.plan-card-active {
    padding:10px !important;
    
    .total-left-headers{
        display: inline;
    }

    .card-button{
        border-radius: 15px !important;
        box-shadow: -5px -5px 15px #353535, 5px 5px 15px #1E1E1E !important;
        transition: 0.4s all ease-in-out;
        

        i {
            color:mat-color($my-theme-accent) !important;
            font-size: 30px !important;
        }

        &.cost{
            float: right ;
        }
        &.payments{
            
        }

    }

    .card-button:hover {
        box-shadow: inset -5px -5px 25px #171717, inset 5px 5px 5px  #363636;
        transform: translateY(1px) scale(0.99);
    }
    .card-button:focus{
        outline:0 !important;
    }

    .progress-bar{
        margin-top:$card-elements-spacing;
        margin-bottom:$card-elements-spacing;
        background: #303030;
        height: 15px;
        border-radius: 15px;
        box-shadow: inset -4px -4px 10px #1F1F1F, inset 1px 4px 4px #1F1F1F;

        .plan-progress{
           
            height: 100%;
            border-radius: 15px;
        }

    }



    .remainder-box{
        height:200px;
    }
    .payments-list-box{
        min-height: 200px;
    }

    .plan-breakdown-box{

    }
    .payments-box {

    }

}

.notifications-card {
    min-height: 120px;
    border-radius:15px !important;
    box-shadow: inset 1px -1px 10px #1F1F1F, inset 1px 1px 10px #1F1F1F !important;
    padding-bottom: 0 !important;
   // border: 0.5px solid #1eb980;


    .notifications-card-header {
        span {
            font-size: 30px !important;
        }
        display: flex;
        justify-content: center;
    
      
    }

    .notification-body{
        display: flex;
        justify-content: center;
        p {
            font-size:15px;
        }
       
    }
}