/* You can add global styles to this file, and also import other style files */
@import './theme.scss';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
    font-family: 'Roboto Condensed', sans-serif;
}

.material-icons {
    font-size: 35px !important;
}

header{
    background-color: #3f51b5;
    color:white;
}

.home-header {
    height:20vh;
    display:flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 51px;
    }

}

.full-width {
    width:100%;
}

.form-alert {
    background:#343a40;
    color:map-get($my-theme-primary, 900);
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 1s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}