/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:not(h1, h2, h3, h4, h5, h6){
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.material-icons {
    font-size: 35px !important;
}


.full-width {
    width:100%;
}

.form-alert {
    background:#343a40;
    color:map-get($my-theme-primary, 900);
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 1s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}