<div id="container" [@listAnimation]="plans.length">
  <h3 class="tags mb-3">Your current plan</h3>
  <mat-card (click)="this.navigateToDashboard()" class="active-plan plan-card-slim" id="list" *ngFor="let activePlan of activePlans">
    <div class="container">
      <div class="row plan-card-slim-row h-100">
        <div class="col-sm">
          <p class="bold-this">{{activePlan.payload.doc.data().name}}</p>
        </div>
      </div>
    </div>
  </mat-card>

  <h3 class="tags mt-3 mb-3">Your past plans</h3>
  <mat-card [ngClass]="{'active-plan': plan.payload.doc.data().activePlan == true}"  id="list" *ngFor= "let plan of plans" (click)="this.getPlan(plan)" class="plan-card-slim mb-3">
    <div class="container">
      <div class="row no-gutters plan-card-slim-row h-100">
        <div class="col-5 text-left">
          <p class="accent-this">{{plan.payload.doc.data().name}}</p>
        </div>
        <div class="col-4 text-center">
          <p class="tags">{{plan.payload.doc.data().dateRange.begin}}</p>
        </div>
        <div class="col text-right" (click)="deletePlan(plan);$event.stopPropagation()">
          <p><i class="material-icons">delete</i></p>
        </div>
      </div>
    </div>
  </mat-card>

 

  <mat-card class="plan-card-slim-new" (click)="openConfirmDialog()">
    <i class="material-icons">add_circle</i>     
  </mat-card>
</div>











