<mat-card class="notifications-card mb-4" >
    <div class="notifications-card-header">
        <span class="material-icons">notification_important</span>    
    </div>
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <p>You have spent {{this.currency}}{{this.spentToday}} today</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <p>You have spent {{this.currency}}{{this.spentThisWeek}} this week</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <p>You have spent the most on {{this.mostSpent}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <p>You have spent {{this.percentageSpent}}% of your plan </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>

